@font-face {
    font-family: 'Merriweather', serif;
src:local('Merriweather')    
}

@font-face {
    font-family: 'OpenSans', sans-serif;
    src:local('OpenSans')
}

h1{
    font-family: 'Open Sans', sans-serif;
}